@keyframes moveabout {

    from { left: -50px; }
    to   { left:  445px; }
}
    

img {

    position: absolute;
    top: 5px;
    left:445px;
    animation: moveabout 3s linear;
    border-bottom: 1px solid black;
  
   
}

#div1 {
    font-family: Garamond;
    font-size: 40px;
    animation: slide-right 1s alternate-reverse;
    text-align: right;

   
  }
  
  @keyframes slide-right {
    from {
       right: 200%;
        width: 100%; 
      }
    
      to {
       left: 50%;
        width: 200%;
      }
    }
    
    
    
    #div3 {
      
      padding: 1rem;
      color: rgb(0, 0, 0);
      border-width: 3px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(255, 0, 0), 
          hsla(149, 89%, 65%, 0)
        ) 3 200%;
    }
    #btun {
      position: absolute;
      top: -7px;
      left:1200px;
      animation: pulsing 1.25s infinite ;
      font-size: 30px;
      color: #025197;
      
     
    }
    

    @keyframes pulsing {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: .5;
      }
    }
   