
#div1 {
    font-family: Garamond;
    font-size: 40px;
    animation: slide-right 1s alternate-reverse;
    text-align: right;

   
  }

  a.division{
    font-size: 35px;
    font-family: Garamond;
  }
  
    
    
    #div3 {
      
      padding: 1rem;
      color: rgb(0, 0, 0);
      border-width: 3px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(255, 0, 0), 
          hsla(149, 89%, 65%, 0)
        ) 3 200%;
       
    }
    #btun {
      font-size: 15px;
      color: #ffffff;
    }
    .cname{
      font-size: 20px;
      font-family: garamond;
    }
.form-inline{
  position: relative;
  right: auto;
}
   
 