



#div1 {
    font-family: Garamond;
    font-size: 40px;
    animation: slide-right 1s alternate-reverse;
    text-align: right;

   
  }

  div.division{
    font-size: 35px;
    font-family: Garamond;
    justify-content: center;
  }
  
 
    
    #div3 {

      padding: 3rem;
      color: rgb(0, 0, 0);
      border-width: 5px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(78, 215, 169), 
          rgb(57, 185, 70)
        ) 3 200%;
        
    }
    #btun {
      font-size: 15px;
      color: #ffffff;
    }
    .cname{
      font-size: 20px;
      font-family: garamond;
    }
.form-inline{
  position: relative;
  right: auto;
}

.yellow {
  color: var(--yellow);
}

.logo {
  font-size: 3.6rem;
  font-weight: 700;

}
