
    #div3 {
      
      padding: 1rem;
      color: rgb(0, 0, 0);
      border-width: 5px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(78, 215, 169), 
          rgb(57, 185, 70)
        ) 3 200%;
       
    }
    #btun {
      font-size: 15px;
      color: #ffffff;
    }
    .cname{
      font-size: 20px;
      font-family: garamond;
    }
    div.food{
      font-size: 35px;
      font-family: Garamond;
    }
    .yellow {
      color: var(--yellow);
    }
    
    .logo {
      font-size: 3.6rem;
      font-weight: 700;
    
    }
