
<div [@routerTransition]>
    <section class="content-header" >
        <nav class="navbar navbar-light justify-content-between" style="  background-image: linear-gradient(rgb(10, 10, 10) , rgb(133, 50, 50));">
            <a class="foodtype text-white" >Food Type</a>
            <form class="inline">
            <div class="col-12 text-right"style="font-size:20px"  >
                <a id="btun"
                href="javascript:;" 
                class="btn btn-md my-2 my-sm-0 " 
                (click)="createType()" >
                    <i class="fa fa-plus-circle " style="font-size:36px"  ></i> 
                </a>
                <label class="cname text-white">{{"Create"|localize}}</label>
            </div>
            </form>
          </nav>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card" id="div3">
                <div class="card-header" style=" background-image: linear-gradient(to right, rgb(10, 10, 10) , rgb(133, 50, 50)); ">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input 
                                type="text" 
                                class="form-control" 
                                name="keyword"                                    
                                [placeholder]="'SearchWithThreeDot' | localize" 
                                [(ngModel)]="keyword"
                                (keyup.enter)="getDataPage(1)" 
                                />
                                <button 
                                    type="button" 
                                    class="btn bg-light" 
                                    (click)="getDataPage(1)">
                                        <i class="fas fa-search" ></i>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                        class="table table-striped table-bordered" 
                        [busy]="isTableLoading">
                            <thead>
                                <tr>
                        
                                    <th>{{ "FoodType" | localize }}</th>
                                    <th class="action-th" [width]="200" style="text-align:center">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let foodType of foodType | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                } | search: keyword:['typeName']">
                                    
                                    <td>{{ foodType.foodTypeName }}</td>
                                    <td style="text-align:center">
                                        <button 
                                        type="button" 
                                        class="btn btn-sm bg-blue"
                                        (click)="editType(foodType.id)">
                                            <i class="fas fa-pencil-alt"> </i>
                                            {{ "Edit" | localize }}
                                        </button>
                                        <button 
                                        type="button" 
                                        class="btn btn-sm bg-danger mx-2"
                                        (click)="delete(foodType)">
                                            <i class="fas fa-trash"> </i>
                                            {{ "Delete" | localize }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top"  style="background-color: rgb(249, 74, 71); background-image: linear-gradient(  rgb(133, 50, 50),rgb(10, 10, 10)); ">
            <div class="row">
                <div class="col-sm-4 col-12 text-sm-left text-center">
                    <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-4 col-12 text-center text-white">
                    <strong>{{  totalItems }}</strong> 
                    <p>Total Items</p>
                </div>
                <div class="col-sm-4 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls
                                id="server"
                                (pageChange)="getDataPage($event)"
                        >
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>