<div class="contain">
  <header class="header">
  <div class="logo">Wam<span class="yellow">Pipti</span></div>
</header>
<section class="home" id="home">
  <div class="content">
    <h1>Order Your Foods <span class="yellow">Easier & Faster.</span></h1>
    <p>
      Wampipti is a small food business delivery,
      connecting consumers to us.
    </p>
    <a href="./app/foodList" class="home-btn">Go to Menu</a>
  </div>
  <div class="image">
    <img src="assets/img/DBA.png" alt="" />
  </div>
</section>
<section class="services" id="services">
  <div class="top">
    <h2><span class="yellow">Summary</span> of Your Orders</h2>
    <p>
      This section shows your expenses and quick preview of your orders!
    </p>

  
  <div class="container"  >
    <div class="box" *ngFor="let order of orders;">
      <div class="imgBx">
        <img [src]="'data:image/png;base64,' + order.food.image" >
              </div>
      <div class="content">
        <div>
          <h2>{{order.food.name}}</h2>
          <p>This delicacies is one of your order which came from the category of {{order.food.category?.categoryName}} and your
             chosen size is {{order.size}} 
            for the quantity of {{order.quantity}}. If you wish to modify your order kindly click the link below.
          </p> <br>
          <a href="./app/customer-cart" class="text-white" >View More >></a>
        </div>
      </div>
    </div>
    </div>
  </div>
    <br>

  <div class="bottom">
    <div class="box">
      <img src="assets/img/price.png" alt="" />
      <h4> <span>   {{ overallTotalPrice | currency : "PHP" }}</span></h4>
      <h3>Original Price Amount</h3>
      <small>Includes the 10 pesos shipping cost </small>
   
    
    </div>
    <div class="box">
      <img src="assets/img/discount.jpg" alt="" />
      <h4>{{  calculateDiscountedPrice() | currency : "PHP" }}</h4>
      <h3>Discounted Price Amount</h3>
      <small>Applying the 10% discount</small>
    </div>
    <div class="box">
      <img src="assets/img/topay.png" alt="" />
      <h4>{{  calculateDiscountedPrice() | currency : "PHP" }}</h4>
      <h3>Amount to Pay</h3>
    </div>
    <div class="box">
      <img src="assets/img/10.png" alt="" />
      <h4>{{calculateSavings()|currency: "PHP" }}</h4>
      <h3>Save Amount</h3>
    </div>
  </div>

 
</section>

