<form 
class="form-horizontal" 
autocomplete="off" 
#foodDetails="ngForm"
>
  <abp-modal-header 
  [title]="'Food Details' | localize" 
  (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="image">
      </label>
      <div class="col-md-10">
        <div class="col-md-4">
          <img 
          *ngIf="food.imageFileType && food.image" 
          class="center"
          [src]="'data:' + food.imageFileType + ';base64,' + food.image" />
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-2 col-form-label" for="name">
        {{ "Food Name" | localize }}
      </label>
      <div class="col-md-10"  >
        <input type="text" style="border-color: black"
        class="form-control validate" 
        name="name" 
        id="name" 
        required 
        readonly 
        [(ngModel)]="food.name"          
        #nameModel="ngModel" 
        #nameEl />
        <abp-validation-summary 
        [control]="nameModel" 
        [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label for="foodQuantity" class="col-md-2 col-form-label">
        {{"Quantity" | localize}}</label>
      <div class="col-md-2"  >
        <div class="input-group">
          <input style="border-color: black"
          type="number" 
          class="form-control" 
          name="foodQuantity" 
          id="foodQuantity" 
          [(ngModel)]="foodQty" 
          [min]="1"
          [max]="food.quantity">
          <div class="input-group-prepend">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-2 col-form-label" for="foodPrice">
        {{ "Price" | localize }}
      </label>
      <div class="col-md-10"  >
        <div class="input-group" >
          <div class="input-group-prepend" >
            <span class="input-group-text" style="border-color: black" >&#8369;</span>
          </div>
          <input 
          type="number" style="border-color: black"
          class="form-control currency" 
          name="foodPrice" 
          id="foodPrice" 
          required            
          [(ngModel)]="food.price"
          readonly />
        </div>
      </div>
    </div>
    
    <div class="form-group row required">
      <label 
      class="col-md-2 col-form-label" 
      for="foodSize">
          {{ "Size" | localize }}
      </label>
      <div class="col-md-10">
          <select style="border-color: black;"
          class="form-control"
          name="foodSize"
          id="foodSize"          
          [ngModel]="sizeSelected"     
          (ngModelChange)="sizeSelected=$event"          
          >
          <option *ngFor="let fs of  foodSize"
        [ngValue]="fs" >{{fs}}</option>
          </select>
      </div>            
  </div>
    <div class="form-group row mb-0">
      <label class="col-md-2 col-form-label" for="notes">
        {{ "Notes" | localize }}
      </label>
      <div class="col-md-10"  >
        <textarea style="border-color: black"
          type="text"
          class="form-control"
          name="notes"
          id="notes"
          [(ngModel)]="ordering.notes"
        >
        </textarea>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!foodDetails.form.valid || saving || food.quantity==0"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>