@keyframes moveabout {

  from { left: -40px; }
  to   { left:  450px; }
}

#wiw {

  position: absolute;
  top: -5px;
  left:450px;
  animation: moveabout 3s linear;
  border-bottom: 1px solid black;
 
}

#div1 {
  font-family: Garamond;
  font-size: 30px;
  animation: slide-right 1s;
  text-align: right;

}

@keyframes slide-right {
  from {
    right:90%;
      width: 300%; 
    }
  
    to {
     left: 200%;
      width: 100%;
    }
  }

  @keyframes pulse{
    50%{
        Transform:scale(1.5);
    }
}
  
  #wak {
  
    position: absolute;
    top: 160px;
    left:88px;
    animation:pulse linear infinite;
    animation-duration:2s;
    border-bottom: 1px solid black;
    border-radius: 50%;
}

  .cartButton {
    display: flex;
    justify-content: right ;
    align-items: right;
    animation: pulsing 1.25s infinite ;
    font-size: 30px;
    color: #2004f5;
    padding: 2%;
    
   
  }
  
  
  a.cartButton:hover {
    animation: none;
    color: #000100;
  }
  
  @keyframes pulsing {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }
 

  #div3 {
      
    padding: 1.5rem;
    color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(255, 26, 0), 
        hsla(149, 89%, 65%, 0)
      ) 3 200%;
  }
 