
<main>
	<section class="jumbo">
	<h1 >what's ur cravings for today?</h1>
  <p class=" line-1 typing-demo">Discover it with us</p>
	</section>

	<section class="wrapper product">
		<h2 class="section-name">our delicious collections</h2>
		<article class="card "  *ngFor="let food of foods">
			<div class="box" >
        <div class="ribbon" *ngIf="food.availability==1"><span>TRY ME!</span></div>
        <div class="ribbon-2 text-white" *ngIf="food.availability!=1"><span>Not Available</span></div>
         <img [src]="'data:' + food.imageFileType + ';base64,' + food.image" class="card-img-top" /> 
         <div class="foodDetails" *ngIf="food.availability==1"  (click)="foodDetails(food)">
          <button class="details">
           discover more
          </button>
        </div>
        </div>

			<header class="card-content">
				<span class="card-category chicken">{{food.category?.categoryName}}</span>
				<span class="card-header">{{food.name}}  <br> <small>{{food.price|currency: 'PHP'}}</small></span>
				<span class="card-desc">Choose the size you desire:</span>
        <span class="card-desc"> <select 
          class="form-control" 
           id="foodSize"
          name="foodSize" 
          [(ngModel)]="food.size">
           <option 
          class="dropdown-item" 
          disabled 
          selected 
          [ngValue]="null">
          </option>
              <option *ngFor="let size of foodSizes" [value]="size">
           {{ size }}
          </option>
           </select></span>
			</header>
			<footer class="card-content">
				<div class="contributor">
          <span class="contributor-name"> 
            <div class="button-wrapper" data-tippy-content="Click to copy button 54"*ngIf="food.availability==1"  (click)="cartButton(food)">
            <button class="button-54" role="button">Add To Cart</button>
          </div>

          
            
              <div class="button-wrapper" data-tippy-content="Click to copy button 54"*ngIf="food.availability!=1"  (click)="cartButton(food)">
                <i class="fa fa-exclamation-triangle rotate"></i>
                &nbsp; &nbsp;
                <span>Oops! UNAVAILABLE</span>
            </div>
          

          </span>
         </div>
			</footer>
		</article>
    </section>
