<!--PREEEEE YUNG IYONG UI AT FUCK YUNG IYONG NOT AVAILABLE POTCHAAAAAA-->

    <div [@routerTransition]>
        <section class="content-header" >
          <nav class="navbar navbar-light justify-content-center" style="  background-image: linear-gradient(rgb(10, 10, 10) , rgb(133, 50, 50));">
              <a class="foodlist text-white" >Food List Available</a>
            </nav>
      </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="container">
              <div class="container-fluid">
                <div class="row" >
                  <div class="col-xs-12 col-sm-6 col-md-2 p-1" *ngFor="let food of foods" style="margin: 5px;">
                    <div class="card-sl">
                      <div class="card-content">
                        <div class="ribbon" *ngIf="food.availability==1"><span>TRY ME!</span></div>
                        <div class="card-image"*ngIf="food.availability==1">
                        <img [src]="'data:' + food.imageFileType + ';base64,' + food.image" class="card-img-top" />
                         </div>

                         <div class="ribbon red" *ngIf="food.availability==0"><span>SOLD OUT</span></div>
                         <div class="card-image-notavailable" *ngIf="food.availability==0">
                            <img [src]="'data:' + food.imageFileType + ';base64,' + food.image" class="center card-img-top" id="imgtop" />
                          </div>
                        

                         <div class="heading text-white">
                          <a 
                          class="cartButton" *ngIf="food.availability==1"
                          (click)="cartButton(food)">
                          <i class="fas fa-cart-plus"> Add To Cart</i>
                          </a>
                            {{food.name}}
                            <h6>{{ food.price | currency:'PHP'}}</h6>

                            <h6>{{food.category?.categoryName}}</h6>
                            
                            <div class="card-text" *ngIf="food.availability==1">  <h6>Food Size:</h6>
                                <select 
                                class="form-control" 
                                 id="foodSize"
                                name="foodSize" 
                                [(ngModel)]="food.size">
                                 <option 
                                class="dropdown-item" 
                                disabled 
                                selected 
                                [ngValue]="null">
                                </option>
                                    <option *ngFor="let size of foodSizes" [value]="size">
                                 {{ size }}
                                </option>
                                 </select>
                                 
                                 </div>
                          </div>

                          <div class="btn"  *ngIf="food.availability==1"><a  
                            (click)="foodDetails(food)" >Discover More</a></div> 
                     </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
  </div> 

