/* @keyframes moveabout {

    from { left: -50px; }
    to   { left:  330px; }
}
.babi {

    position: absolute;
    top: -2px;
    left:330px;
    animation: moveabout 2s linear;
    border-bottom: 1px solid black;
  
  
   
}


#div1 {
    font-family:Garamond ;
    font-size: 30px;
    animation: slide-right 1s;
    text-align: right;

  }
  
  @keyframes slide-right {
    from {
        right: 90%;
        width: 300%; 
      }
    
      to {
      left: 0%;
        width: 100%;
      }
    }

    #div3 {
      
      padding: 1rem;
      color: rgb(0, 0, 0);
      border-width: 3px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(255, 26, 0), 
          hsla(149, 89%, 65%, 0)
        ) 3 200%;
    }

     */
     .yellow {
      color: var(--yellow);
    }
    
    .logo {
      font-size: 3.6rem;
      font-weight: 700;
    
    }
     
    #div3 {
      
      padding: 1rem;
      color: rgb(0, 0, 0);
      border-width: 3px;
      border-style: solid;
      border-image: 
        linear-gradient(
          to bottom, 
          rgb(255, 26, 0), 
          hsla(149, 89%, 65%, 0)
        ) 3 200%;
       
    }

    
    