<div [@routerTransition]>
    <section class="content-header" >
        <nav class="navbar navbar-light justify-content-between" >
            <h1>Orders</h1>
            <form class="inline">
                <div class="col-12 text-right"style="font-size:20px"  >
                    
                    <label class="cname">{{"Earnings:"|localize}}</label>

                    <div class="clay-category">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                       <p>{{  calculateDiscountedPrice() | currency : "PHP" }}</p> 
                      </div>
    
                </div>
                </form>
          </nav>


    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card" id="div3">
                <div class="card-header"  style=" background-image: linear-gradient(to right,#72b4ff   0%, #aeecfa 100%);">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input 
                                type="text" 
                                class="form-control" 
                                name="keyword"                                    
                                [placeholder]="'SearchWithThreeDot' | localize" 
                                [(ngModel)]="keyword"
                                (keyup.enter)="getDataPage(1)" 
                                />
                               
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                        class="table table-striped table-bordered" 
                        [busy]="isTableLoading">
                        <thead >
                                <tr>
                                    
                                    <th>{{ "Food Photo" | localize }}</th>
                                    <th>{{ "Food Name" | localize }}</th>
                                    <th>{{ "Quantity" | localize }}</th>
                                    <th>{{ "Size" | localize }}</th>
                                    <th>{{ "Date Ordered" | localize }}</th>
                                    <th>{{ "Time Ordered" | localize }}</th>
                                    <th>{{ "Price" | localize }}</th>
                                    <th>{{ "Notes" | localize }}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders | paginate
                                : {
                                    id: 'server',
                                    itemsPerPage: pageSize,
                                    currentPage: pageNumber,
                                    totalItems: totalItems
                                    }| search: keyword:['food.name','food.size','order.dateTimeOrdered','food.price']"
                                    >
                                    
                                    <td class="profile" style="width: 80px;"><img [src]="'data:image/png;base64,' + order.food?.image" width="80px"/></td>
                                    <td>{{ order.food?.name }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.size }}</td>
                                    <td>{{ order.dateTimeOrdered  | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ order.dateTimeOrdered|date:'hh:mm:a'}} </td>
                                    <td> {{ order.totalFoodAmount|currency:'PHP' }}</td>
                                    <td>{{ order.notes }}</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card-footer table-card-footer bg-light border-top"  style=" background-image: linear-gradient(to bottom,#72b4ff   0%, #aeecfa 100%);">
            <div class="row">
                <div class="col-sm-4 col-12 text-sm-left text-center">
                    <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-4 col-12 text-center">
                    <strong>{{  totalItems }}</strong> 
                     <p>Total Items</p>
                    
                </div>
                <div class="col-sm-4 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls
                                id="server"
                                (pageChange)="getDataPage($event)"
                        >
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>