<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">
                <h1><strong>{{ "View Orders" | localize }}</strong></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input 
                                type="text" 
                                class="form-control" 
                                name="keyword"                                    
                                [placeholder]="'SearchWithThreeDot' | localize" 
                                [(ngModel)]="keyword"
                                (keyup.enter)="getDataPage(1)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                        class="table table-striped table-bordered" 
                        [busy]="isTableLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th>{{ "Customer Name" | localize }}</th>
                                    <th>{{ "Food Name" | localize }}</th>
                                    <th>{{ "Quantity" | localize }}</th>
                                    <th>{{ "Size" | localize }}</th>
                                    <th>{{ "Notes" | localize }}</th>
                                    <th>{{ "Date Ordered" | localize }}</th>
                                    <th>{{ "Time Ordered" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }">
                                    <td>{{ order.customerName }}</td>
                                    <td>{{ order.foodName }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.size }}</td>
                                    <td>{{ order.notes }}</td>
                                    <td>{{ order.dateTimeOrdered | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{ order.dateTimeOrdered | date: 'hh:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
                <div class="col-sm-4 col-12 text-sm-left text-center">
                    <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-4 col-12 text-center">
                    <strong>{{  totalItems }}</strong> 
                     <p>Total Items</p>
                    
                </div>
                <div class="col-sm-4 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls
                                id="server"
                                (pageChange)="getDataPage($event)"
                        >
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
