

<nav class="navbar navbar-light justify-content-center" >
  <h3>Cart</h3> <!-- <img class="logo" src="assets/img/Blogo.png" alt="" /> -->
 
</nav>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Basket</title>
</head>

<body>
  <main>
    <div class="basket" >
      <div class="basket-labels" style="background-color:	#CCCCFF;" >
        <ul>
          <li class="item item-heading1"><strong>Food Item</strong></li>
          <li class="price1"><strong>Individual <br> Price</strong></li>
          <li class="quantity1"><strong>Quantity</strong></li>
          <li class="subtotal1"><strong>Subtotal</strong></li>
        </ul>
      </div>
      <div class="basket-product"  *ngFor="let order of orders">
        <div class="item">
          <div class="product-image">
            <img [src]="'data:image/png;base64,' + order.food.image" alt="Image goes here.." class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">{{order.quantity}}</span> x  {{order.food.name}}</strong> </h1>
            <p><strong>{{ order.food?.category?.categoryName}}, Size: {{order.size}}</strong></p>
              <p>Additional Notes:</p>
              <textarea type="text" class="form-control smaller-textarea" name="description" id="description"
              [(ngModel)]="order.notes" (change)="updateCart(order)">
          </textarea>
          </div>
        </div>
        <div class="price">{{ order.food.price | currency:'PHP'}}</div>
        <div class="quantity">
                  <button class="decre" (click)="decrementQuantity(this.order)" [disabled]="order.quantity === 1">-</button>
          <input type="number"  [(ngModel)]="order.quantity" 
          [min]="1"
          [max]="order.food.quantity"
          (change)="updateCart(order)" class="quantity-field" readonly>
          <button class="incre" (click)="incrementQuantity(order)"  [disabled]="order.quantity === order.food.quantity">+</button>
          <br><br>
          <div *ngIf="order.quantity === order.food.quantity" class="max-quantity-message">
            Maximum quantity reached!
          </div>
        </div>
       
        <div class="subtotal">{{ individualPrice(order) | currency:'PHP'}}</div>
        <div class="remove" >
          <button (click)="delete(order)" >Remove</button>
        </div>
      </div>
    </div>


     <!--pri essss-->
    <aside>
      <div class="summary">

        <div class="container">
          <div class="text">
            <span style="--i:1">Items</span>
            <span style="--i:2">in</span>
            <span style="--i:3">Your</span>
            <span style="--i:4">Cart: </span>
            <span style="--i:6">{{totalItems}}</span>
          
          </div>
        </div>

        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">{{ overallSub | currency : "PHP" }}</div>
        </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Shipping Cost</div>
          <div class="subtotal-value final-value" id="basket-subtotal">{{ shippingCost | currency : "PHP" }}</div>
        </div>
        
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">{{ overallTotalPrice | currency : "PHP" }}</div>
          
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta" (click)="proceedOrder()">Proceed to Checkout</button>
        </div>
      </div>
      <br><br>

      <img src="assets/img/panda.gif" alt="" />
    </aside>
  </main>
</body>


