<div class="rope"><img src="https://notbigmuzzy.github.io/codepen/example1/rope.png" class="rope-left"><img src="https://notbigmuzzy.github.io/codepen/example1/rope.png" class="rope-right"></div>
<div class="page1 page">
  <div class="body-wrap">
  </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <div class="text-center">
            <img [src]="'data:' + food.imageFileType + ';base64,' + food.image" class="image" title="" alt="">
          </div>
        </div>
        <div class=bodyname id="bodyinfo">
          <div class="body">
          <span class="text-white">Brand name</span>
            </div>
            <div class="products-title mb-2">
              <h1 class="h4 text-white"><strong>{{ food.name }}</strong></h1>
            <div class="price">
               <div class="rating-star text small pb-4">
              <span style="font-size:200%;color:yellow;">&starf;</span>
              <span style="font-size:200%;color:yellow;">&starf;</span>
              <span style="font-size:200%;color:yellow;">&starf;</span>
              <span style="font-size:200%;color:yellow;">&starf;</span>
              <span style="font-size:200%;color:yellow;">&star;</span>
            </div>
            <label class="fs-6 text-mode pb-2 fw-500 text-white">Price</label>
              <div class="product-price fs-3 fw-500 mb-2 text-white">
                  <del class="text-muted fs-6 text-white"><small>{{ food.price+1000 | currency : "PHP" }}</small>
                  </del>  
                    <span class="text-primary text-white">{{ food.price | currency : "PHP" }}</span>      
            </div>
            <div class="mt-2">
              <span class="intro-3 text-white"><strong>{{ food.category?.categoryName }}</strong></span>
            </div>
            <div class="mt-2">
              <span class="intro-3 text-white">Number of Available Items:<strong> {{ food.quantity }}</strong></span>
            </div>
            <div class="mt-2 text-white">
            <label class="fs-6 text-mode pb-2 fw-700">Size</label>
                  <div class="col-sm-6 ">
                      <select 
                      class="form-control size" 
                       id="foodSize"
                      name="foodSize" 
                      [(ngModel)]="food.size">
                       <option 
                      class="dropdown-item text-center" 
                      disabled 
                      selected 
                      [ngValue]="null">
                      </option>
                          <option *ngFor="let size of foodSizes" [value]="size">
                       {{ size }}
                      </option>
                       </select>
                      </div> 
            </div><br> <br>
            <div class="mt-2 text-white">
              <div class="form-group required">
                <label class="fs-6 text-mode pb-2 fw-500">Quantity</label>
                <div class="input-group">
                  <button class="input-group-text minus" (click)="decrementQuantity()" [disabled]="foodQty === 1">-</button>
                  <input
                    type="number"
                    class="form-control quantity"
                    [value]="foodQty"
                    min="1"
                    [max]="food.quantity"
                    (input)="updateQuantity($event.target.valueAsNumber)"
                    readonly
                  />
                  <button class="input-group-text plus" (click)="incrementQuantity()" [disabled]="foodQty === food.quantity">+</button>
                </div><br><br>
                <div class="max-quantity-message mt-2" *ngIf="foodQty >= food.quantity">
                  Maximum quantity reached!
                </div>
              </div>
            </div>
            

              <div class="fs-6 text-mode pb-2 fw-500">
                <label class="fs-6 text-mode pb-2 fw-500 text-white">Notes </label>
                <div class="col-sm-6">
                  <textarea type="text" class="notes" name="description" id="description" placeholder="Comment text......(Optional)"
                  [(ngModel)]="reminder" >
              </textarea>
                </div>
            </div>
  
            <div class="buttons-container">
            <button class="button-arounder" (click)="cartButton(food.id)"><strong>Add To Cart</strong></button></div>
                  </div>
  
            <button class="button-cancel" (click)="bsModalRef.hide()"><strong>Cancel</strong> </button></div>
  
        </div>
          </div>
        </div>

  