<div class="container">
<button class="button-87" role="button">Button 87</button>

<div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>




<div class="table-wrapper">
    <table class="fl-table" >
        <thead>
        <tr>
            <th>Product</th>
            <th>Date Modified/ Completed</th>
            <th>Status</th>
           
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
           
        </tr>
        
        <tbody>
    </table>
</div>
</div>

